* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;

}

header {
    background-color: #f08e80;

}

h1 {
    margin: 0;
    letter-spacing: 2px;
}

h2{
    font-weight: 500;
}

h3{
    font-size: 28.5px;
    font-weight: 500;
}

h4{
    font-size: 18px;
    font-weight: 500;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 77px 0 19px;
    padding-top: 35px;
    color: white;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 5px;
}

.nav-display-btn{
    display: none;
}

.navbar-list {
    display: flex;
    list-style-type: none;
}

.navbar-list li {
    margin: 0 15px;
}

.navbar-list a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* HUMBERGER MENU NAVBAR*/



nav {
    display: flex;
    padding: 35px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 89%;
    margin: auto;
    column-gap: 27px;
}

ul {
    display: flex;
    column-gap: 92px;
    list-style-type: none;
    font-weight: 600;
    font-size: 20px;
}


ul a {
    text-decoration: none;
    color: white;
}


.ul-list a:hover {
    color: #518581;
}

.nav-btns {
    display: flex;
    column-gap: 30px;
    align-items: center;
}

.menu-btns {
    display: none;
}

.menu-btns > img:nth-of-type(1){
    padding-right: 10px;
}

.logo-div {
    padding-top: 10px;
}

.nav-btns-w-search {
    display: flex;
    align-items: center;
    column-gap: 21px;
}

button[name="login"] {
    background-color: inherit;
    padding: 15px;
    border-style: none;
    font-size: 23px;
}

button[name="start"] {
    padding: 11px;
    width: 128px;
    border-style: none;
    font-size: 16px;
    background-color: #1b903a;
    color: white;
    border-radius: 9px;
}

img[alt="menu-burger"] {
    display: none;
}


/* nav media query */

@media screen and (max-width: 1200px) and (min-width:992px) {

    ul {
        flex-direction: column;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    ul a {
        color: white;
    }

    ul a:hover {
        color: white;
    }

    .display {
        display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    border: 5px solid #ffffff;
    padding: 58px;
    background-color: wheat;
    color: black;
    font-size: 25px;
    z-index: 2;
    text-align: center;
    border-radius: 76px;
    }

    .ul-list a:hover {
        color: white;
    }


    .ul-list li {
        padding-bottom: 22px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }


    .nav-display-btn{
        display: block;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        padding: 5px;
        border-radius: 10px;
    }
    .nav-display-btn{
        display: block;
    }
}

@media screen and (max-width: 786px) and (min-width:600px) {

    ul {
        flex-direction: column;
    }

    ul a {
        color: white;
    }

    .ul-list a:hover {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #ffffff;
        padding: 58px;
        background-color: wheat;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }

    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .nav-display-btn{
        display: block;
    }
}

@media screen and (max-width: 600px) {

    ul {
        flex-direction: column;
    }

    .ul-list a:hover {
        color: white;
    }

    ul a {
        color: white;
    }

    .display {
        display: none;
        position: absolute;
        top: 80px;
        right: 20px;
        border: 5px solid #518581;
        padding: 58px;
        background-color: white;
        color: black;
        font-size: 25px;
        z-index: 2;
        text-align: center;
        border-radius: 76px;
    }

    .ul-list {
        display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    border: 5px solid #ffffff;
    padding: 58px;
    background-color: wheat;
    color: black;
    font-size: 25px;
    z-index: 2;
    text-align: center;
    border-radius: 76px;
    }

    img[alt="menu-burger"] {
        display: block;
    }

    .ul-list li {
        padding-bottom: 22px;
    }

    nav {
        padding: 32px;
    }

    .nav-btns {
        display: none;
    }
    .menu-btns {
        display: block;
        background-color: white;
        padding: 5px;
        border-radius: 10px;
    }
    .nav-display-btn{
        display: block;
    }
}





button[name="contact-btn"]{
    padding: 12px;
    background-color: white;
    color: #f08e80;
    border-style: none;
    font-size: 17px;
    font-weight: 500;
}
button[name="contact-btn"]:hover{
    opacity: 0.8;
}

.container {
    min-height: 90vh;
    background-color: #f08e80;
    padding: 1% 10%;
}

.heading {
    font-size: 39px;
    color: white;
    padding: 76px 0;
    letter-spacing: 3px;
    width: 71%;
}

.mission {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
    flex-wrap: wrap;
    row-gap: 15px;
}

.mission p{
    font-size: 20px;
}

.mission>* {
    width: 50%;
    line-height: 30px;
    color: white;
}

.specialist {
    display: flex;
    justify-content: space-between;
    margin: 60px 0;
    flex-wrap: wrap;
    row-gap: 15px;
}

.specialist>* {
    width: 50%;
    line-height: 30px;
    color: white;
}

.specialist-skills {
    display: flex;
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 95px;
}

.specialist-skills>ul {
    list-style-type: none;
    font-size: 20px;
}

.tech-blog {
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
     row-gap: 20px;
}
.speaking-blog{
    display: flex;
    justify-content: space-between;
    background-color: white;
    flex-wrap: wrap;
     row-gap: 20px;
     background-color: antiquewhite;

}
.tech-container{
    padding: 5% 10%;

}

.speaking-container{
    padding: 5% 10%;
    background-color: antiquewhite;
}

.tech-blog>* {
    width: 50%;
}

.speaking-blog > *{
    width: 50%;
}

.inner-tech > p{
    margin: 10px 0;
}

.inner-tech > span{
    letter-spacing: 1.5px;
    color: grey;
}

.tech-desc>div {
    margin-bottom: 42px;
}

.speaking-desc>div {
    margin-bottom: 47px;
}

.inner-speaking > *{
    margin: 12px 0;
}

.inner-speaking > span {
    letter-spacing: 1.5px;
    color: grey;
}

/* mission and specialist media query */
@media screen and (max-width: 1200px) and (min-width:992px) {
    .mission>* {
        width: 100%;
    }

    .specialist>* {
        width: 100%;
    }
    .tech-blog>* {
        width: 100%;
    }
    .speaking-blog > *{
        width: 100%;
    }
    .specialist-skills>ul{
        width: 37%;
    }
    .heading {
        font-size: 37px;
        width: 100%;
    }
}

@media screen and (max-width: 992px) and (min-width:786px) {
    .mission>* {
        width: 100%;
    }

    .specialist>* {
        width: 100%;
    }
    .tech-blog>* {
        width: 100%;
    }
    .speaking-blog > *{
        width: 100%;
    }
    .specialist-skills>ul{
        width: 37%;
    }
    .heading {
        font-size: 36px;
        width: 100%;

    }
}

@media screen and (max-width: 786px) and (min-width:600px) {
    .mission>* {
        width: 100%;
    }

    .specialist>* {
        width: 100%;
    }
    .tech-blog>* {
        width: 100%;
    }
    .speaking-blog > *{
        width: 100%;
    }
    .specialist-skills>ul{
        width: 37%;
    }
    .heading {
        font-size: 35px;
        width: 100%;

    }
}

@media screen and (max-width: 600px) {
    .mission>* {
        width: 100%;
    }

    .specialist>* {
        width: 100%;
    }
    .tech-blog>* {
        width: 100%;
    }
    .speaking-blog > *{
        width: 100%;
    }
    .specialist-skills>ul{
        width: 100%;
    }
    .heading {
        font-size: 34px;
        width: 100%;

    }
    
}


footer{
    background-color: black;
    padding: 30px;
    color: white;
}

.footer-icons{
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.footer-desc{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    margin: 25px 0;
}

.display{
    display: block;
}